<%= form_for(@part) do |f| %>
  <% if @part.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@part.errors.count, "error") %> prohibited this part from being saved:</h2>

      <ul>
      <% @part.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <% if @part.id.nil? %>
      <h4>Ідентифікатор нової частини буде - <%= Part.last.nil? ? 1 : Part.last.id + 1 %></h4>
    <% else %>
      <h4>Редагуємо частину з ідентифікатором - <%= @part.id %></h4>
    <% end %>
  </div>

  <div class="field">
    <%= f.label "Частина" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Опис" %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label "Тип частини" %><br>
    <%= f.collection_select :part_type_id, PartType.order(:id), :id, :type_name, :prompt => "Оберіть тип частини" %>
  </div>
  <div class="actions">
    <%= f.submit "Зберегти"%>
  </div>
<% end %>
