<div class="container">

  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Назва</th>
        <th>Опис</th>
        <th>Тип частини</th>
      </tr>
    </thead>

    <tbody>
    <% @parts.each do |prt| %>
      <tr data-url="<%=edit_part_path(prt)%>">
        <td><%= prt.id %></td>
        <td><%= prt.name %></td>
        <td><%= prt.description %></td>
        <td><%= prt.part_type.type_name %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

</div>

