<p id="notice"><%= notice %></p>

<p>
  <strong>Ід:</strong>
  <%= @part.id %>
</p>

<p>
  <strong>Назва:</strong>
  <%= @part.name %>
</p>

<p>
  <strong>Опис:</strong>
  <%= @part.description %>
</p>

<p>
  <strong>Тип частини:</strong>
  <%= @part.part_type.type_name %>
</p>

<%= link_to 'Редагувати', edit_part_path(@part) %> |
<%= link_to 'Назад', parts_path %> |
<%= link_to 'Календар', root_url %>
