<%= form_for(@costume) do |f| %>
  <% if @costume.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@costume.errors.count, "error") %> prohibited this costume from being saved:</h2>

      <ul>
      <% @costume.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <% if @costume.id.nil? %>
      <h4>Ідентифікатор нового костюму буде - <%= Costume.last.nil? ? 1 : Costume.last.id + 1 %></h4>
    <% else %>
      <h4>Редагуємо костюм з ідентифікатором - <%= @costume.id %></h4>
    <% end %>
  </div>

  <div class="field">
    <%= f.label "Назва" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Опис" %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label "Частини костюма" %><br>
    <%= select_tag "costume_parts", options_from_collection_for_select(Part.all, 'id', 'name',@costume.parts.map{ |j| j.id }), :multiple => true %>
  </div>
  <div class="actions">
    <%= f.submit "Зберегти" %>
  </div>
<% end %>
