<div class="container">

  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Назва</th>
        <th>Опис</th>
        <th>Частини</th>
      </tr>
    </thead>

    <tbody>
    <% @costumes.order('id DESC').each do |cst| %>
      <tr data-url="<%=edit_costume_path(cst)%>">
        <td><%= cst.id %></td>
        <td><%= cst.name %></td>
        <td><%= cst.description %></td>
        <td><%= cst.parts.map {|p| p.name} %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

</div>