<p id="notice"><%= notice %></p>

<p>
  <strong>Костюм:</strong>
  <%= @costume.name %>
</p>

<p>
  <strong>Опис:</strong>
  <%= @costume.description %>
</p>

<p>
  <strong>Частини:</strong>
  <%= @costume.parts.map {|p| p.name}%>
</p>

<%= link_to 'Редагувати', edit_costume_path(@costume) %> |
<%= link_to 'Назад', costumes_path %> |
<%= link_to 'Календар', root_url %>
