<h1>Listing clients</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Phone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clients.each do |cl| %>
  <tr>
    <td><%= cl.name %></td>
    <td><%= cl.phone %></td>
    <td><%= link_to 'Show', cl %></td>
    <td><%= link_to 'Edit', edit_client_path(cl) %></td>
    <td><%= link_to 'Destroy', cl, method: :delete,
                                   data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Client', new_client_path %>
