<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Дата" %><br>
    <% if @chosen_date.nil? %>
      <%= f.date_select :date, default: @order.date%>
    <% else %>
      <%= f.date_select :date, default: @chosen_date.to_date %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label "К-ть днів" %><br>
    <% if @order.days_in_rent.nil? %>
      <%= f.number_field :days_in_rent, min: 1, step: 1, value: 1 %>
    <% else %>
      <%= f.number_field :days_in_rent, min: 1, step: 1, value: @order.days_in_rent %>
    <% end %>
  </div>

  <div id="ord_type_div", class="field">
    <!--# Choose order type (costume or part).-->
    <label><b>Пошук по:</b></label><br>
    <label for="costume"><input type="radio" name="order_types" id="order_order_type_costume" value="costume"/>Костюму</label>
    <label for="part"><input type="radio" name="order_types" id="order_order_type_part" checked="checked" value="part"/>Частині</label>
    </br>
    <!--# Choose search criteria (id or name pattern).-->
    <label><b>та за:</b></label><br>
    <label for="id"><input type="radio" name="s_crit" id="item_id" value="id"/>Ід</label>
    <label for="name"><input type="radio" name="s_crit" id="item_name" checked="checked" value="name"/>Іменем</label>
    </br>
  </div>

  <input type="text" id="rb_search" placeholder="Поле пошуку" autocomplete="off">

  <div id="div_cst_names"></div>
  <div id="div_parts"></div>
  <div id="div_selected_parts"></div>

  <!--# Hidden tags.-->
  <!--# Send selected parts.-->
  <% if @order.ordered_parts.nil? %>
    <%= hidden_field_tag 'sel_parts' %>
    <%= hidden_field_tag 'complete_selected_parts' %>
    <%= hidden_field_tag 'already_selected_parts_ids' %>
  <% else %>
    <%= hidden_field_tag 'sel_parts', @already_ord_parts %>
    <%= hidden_field_tag 'complete_selected_parts', @already_ord_parts %>
    <%= hidden_field_tag 'already_selected_parts_ids', @already_ord_parts_ids %>
  <% end %>

  <!--# Send locked elements values.-->
  <%= hidden_field_tag 'h_date_year' %>
  <%= hidden_field_tag 'h_date_month' %>
  <%= hidden_field_tag 'h_date_day' %>
  <%= hidden_field_tag 'h_days_in_rent' %>

  <div class="field">
    <%= f.label "Назва замовлення" %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label "Клієнт" %><br>
    <%= f.text_field :client_name %>
  </div>

  <div class="field">
    <%= f.label "Телефон" %><br>
    <%= f.text_field :client_phone %>
  </div>

  <div class="field">
    <%= f.label "Доробити" %><br>
    <%= f.text_field :tbd %>
  </div>

  <div class="actions">
    <%= f.submit "Зберегти", disabled: true %>
  </div>
<% end %>


<%= javascript_tag do %>
  function setSearchUrl() {
    if (document.getElementById("order_order_type_costume").checked == true) {
      return "<%= costume_names_costumes_path %>";
    } else if (document.getElementById("order_order_type_part").checked == true) {
      return "<%= part_names_parts_path %>";
    }
  }

  function dataSearchByAttr(val) {
    if (document.getElementById("item_id").checked == true) {
      return { id_pattern : (val.length == 0) ? "" : val,
               rent_days: $("#order_days_in_rent").val(),
               ord_date: [$("#order_date_1i").val(),
                          $("#order_date_2i").val(),
                          $("#order_date_3i").val()],
               already_selected_parts_ids: ($("#already_selected_parts_ids").val().length == 0) ? "" : $("#already_selected_parts_ids").val() };
    } else if (document.getElementById("item_name").checked == true) {
      return { name_pattern : (val.length == 0) ? "" : val,
               rent_days: $("#order_days_in_rent").val(),
               ord_date: [$("#order_date_1i").val(),
                          $("#order_date_2i").val(),
                          $("#order_date_3i").val()],
               already_selected_parts_ids: ($("#already_selected_parts_ids").val().length == 0) ? "" : $("#already_selected_parts_ids").val() };
    }
  }
<% end %>


<%= javascript_tag do %>
  $(document).on("keyup", '#rb_search', function() {
    lockPropertiesForSearch();

    $.ajax({
      url: setSearchUrl(),
      type: "GET",
      dataType: "json",
      data: dataSearchByAttr($(this).val()),
      complete: function() {},
      success: function(data, textStatus, xhr) {
        prepareBaseLi(data);
      },
      error: function() {
          alert("Ajax error!")
      }
    });
  });

  function prepareBaseLi(data) {
    if ($("#rb_search").val() == "") {
      $("#div_cst_names").html("");
      $("#div_parts").html("");
    }
    else if ("cst_names" in data) {
      prepareCostumesLi(data);
    }
    else if ("available_parts" in data) {
      preparePartsLi(data)
    }
  }

  function prepareCostumesLi(data) {
    var items = [];
    $.each(data.cst_names, function(index, value) {
      items.push("<li>" + value + "</li>");
    });
    $("#div_cst_names").html($("<ul/>", {html: items.join("")}));
  }

  $(document).on("click", '#div_cst_names ul li', function() {
    $.ajax({
      url: "<%= costume_parts_costumes_path %>",
      type: "GET",
      dataType: "json",
      data: { costume_name: $(this).text(),
              rent_days: $("#order_days_in_rent").val(),
              ord_date: [$("#order_date_1i").val(),
                         $("#order_date_2i").val(),
                         $("#order_date_3i").val()],
              already_selected_parts_ids: ($("#already_selected_parts_ids").val().length == 0) ? "" : $("#already_selected_parts_ids").val()
            },
      complete: function() {},
      success: function(data, textStatus, xhr) {
        preparePartsLi(data);
      },
      error: function() {
        alert("Ajax error!")
      }
    });
  });

  function preparePartsLi(data) {
    var items = [];
    $.each(data.available_parts, function(p_type, parts) {
      items.push("<h3>" + p_type + "</h3>");
      items.push("<ul>");
      $.each(parts, function(index, value) {
        items.push("<li>" + value + "</li>");
      });
      items.push("</ul>");
    });

    if (items.length == 0) { // && $("rb_search").val() == "") {
      $("#div_parts").html("На обрані дати немає вільних частин!!!");
    } else {
      $("#div_parts").html(items.join(""));
    }
  }
<% end %>


<%= javascript_tag do %>
  // Adds parts to selected parts list in case if part is not already in selected list
  $(document).on("click", '#div_parts ul li', function() {
    var selectedParts = $("#complete_selected_parts").val() == "" ? [] : JSON.parse($("#complete_selected_parts").val())
    $(this).addClass('selected');
    $("#div_parts ul li.selected").each(function(index, li) {
      if (!isInArray($(li).text(), selectedParts)) {
        selectedParts.push($(li).text());
      }
      $(li).removeClass("selected");
    });

    // Prepare selected part items list "ul li".
    var part_items = []
    part_items.push("<h3>Обрані частини</h3>");
    part_items.push("<ul>");
    $.each(selectedParts, function(index, value) {
      part_items.push("<li>" + value + "</li>");
    });
    part_items.push("</ul>");

    $("#div_selected_parts").html(part_items.join(" ")).trigger("contentchange");
    $("#sel_parts").attr("value", JSON.stringify(selectedParts));
    $("#complete_selected_parts").attr("value", JSON.stringify(selectedParts))
  });

  function isInArray(value, array) {
    return array.indexOf(value) > -1;
  }

  // Remove parts from selected parts list
  $(document).on("click", '#div_selected_parts ul li', function() {
    var selectedParts = $("#complete_selected_parts").val() == "" ? [] : JSON.parse($("#complete_selected_parts").val())
    $(this).toggleClass('selected');
    $("#div_selected_parts ul li.selected").each(function(index, li) {
      if (isInArray($(li).text(), selectedParts)) {
        if (confirm("Видалити цю частину костюма?") == true) {
          removeElementFromArray($(li).text(), selectedParts);
        }
      }
    });

    // Prepare selected part items list "ul li".
    var part_items = []
    part_items.push("<h3>Обрані частини</h3>");
    part_items.push("<ul>");
    $.each(selectedParts, function(index, value) {
      part_items.push("<li>" + value + "</li>");
    });
    part_items.push("</ul>");

    $("#div_selected_parts").html(part_items.join(" ")).trigger("contentchange");
    $("#sel_parts").attr("value", JSON.stringify(selectedParts));
    $("#complete_selected_parts").attr("value", JSON.stringify(selectedParts))
  });

  function removeElementFromArray(value, array) {
    var i = array.indexOf(value);
    if(i > -1) {
      array.splice(i, 1);
    }
  }
<% end %>


<%= javascript_tag do %>
  function lockCalendar() {
    setLockedValuesForHiddenFields();
    // Lock calendar and days_in_rent fields
    $("#order_days_in_rent").attr('disabled', 'disabled');
    $("#order_date_1i").attr('disabled', 'disabled');
    $("#order_date_2i").attr('disabled', 'disabled');
    $("#order_date_3i").attr('disabled', 'disabled');
  }

  function unlockCalendar() {
    // Unlock calendar and days_in_rent fields
    $("#order_days_in_rent").removeAttr('disabled');
    $("#order_date_1i").removeAttr('disabled');
    $("#order_date_2i").removeAttr('disabled');
    $("#order_date_3i").removeAttr('disabled');
  }

  function setLockedValuesForHiddenFields() {
    $("#h_date_year").attr("value", $("#order_date_1i").val());
    $("#h_date_month").attr("value", $("#order_date_2i").val());
    $("#h_date_day").attr("value", $("#order_date_3i").val());
    $("#h_days_in_rent").attr("value", $("#order_days_in_rent").val());
  }
<% end %>


<%= javascript_tag do %>
  $("#div_selected_parts").bind("contentchange", function() {
    var empty = false;
    if ($("#div_selected_parts li").length == 0) {
      empty = true;
    }

    if (empty) {
      $(".actions input").attr("disabled", "disabled");
      $("#div_selected_parts").hide();
      if ($("#already_selected_parts_ids").val().length == 0 && $("#rb_search").val().length == 0) {
        unlockCalendar();
      }
    } else {
      $(".actions input").removeAttr("disabled");
      $("#div_selected_parts").show();
    }
  });
<% end %>


<%= javascript_tag do %>
  function lockPropertiesForSearch() {
    var lock = false;
    if ($("#rb_search").val().length != 0) {
      lock = true;
    }

    if (lock) {
      lockCalendar();
      $("#ord_type_div input").attr('disabled', 'disabled');
    } else {
      if ($("#div_selected_parts li").length == 0 && $("#already_selected_parts_ids").val().length == 0) {
        unlockCalendar();
      }
      $("#ord_type_div input").removeAttr('disabled');
    }
  }
<% end %>


<%= javascript_tag do %>
  // When user wants to edit/update existed order.
  $( document ).ready(function() {
    if ($("#already_selected_parts_ids").val().length != 0) {
      lockCalendar();

      // Show selected part items list "ul li" when user wants to edit/update existed order.
      var selectedParts = $("#complete_selected_parts").val() == "" ? [] : JSON.parse($("#complete_selected_parts").val())
      var part_items = []
      part_items.push("<h3>Обрані частини</h3>");
      part_items.push("<ul>");
      $.each(selectedParts, function(index, value) {
        part_items.push("<li>" + value + "</li>");
      });
      part_items.push("</ul>");

      $("#div_selected_parts").html(part_items.join(" "))

      // Enable submit button for edit/update purposes.
      $(".actions input").removeAttr("disabled");
    }
  });
<% end %>

