<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <% if @chosen_date.nil? %>
      <%= f.date_select :date, default: @order.date %>
    <% else%>
      <%= f.date_select :date, default: @chosen_date.to_date %>
    <% end%>
  </div>
  <div class="field">
    <%= f.label :days_in_rent %><br>
    <% if @order.days_in_rent.nil? %>
      <%= f.number_field :days_in_rent, min: 1, step: 1, value: 1 %>
    <% else%>
      <%= f.number_field :days_in_rent, min: 1, step: 1, value: @order.days_in_rent %>
    <% end%>

  </div>
  <div class="field">
    <%= f.label :order_type %><br>
    <%= f.select :order_type, Order.order_types.keys %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :client_name %><br>
    <%= f.text_field :client_name %>
  </div>
  <div class="field">
    <%= f.label :client_phone %><br>
    <%= f.text_field :client_phone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
