<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%# if @chosen_date.nil? %>
      <%#= f.date_select :date, selected: @order.date%>
    <%# else%>
      <%#= f.date_select :date, default: @chosen_date.to_date %>
    <%# end%>
    <% if @chosen_date.nil? and @order.date.nil? %>
      <%= f.date_select :date, default: Date.today %>
    <% elsif @chosen_date.nil? %>
      <%= f.date_select :date, default: @order.date %>
    <% else %>
      <%= f.date_select :date, default: @chosen_date.to_date %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :days_in_rent %><br>
    <% if @order.days_in_rent.nil? %>
      <%= f.number_field :days_in_rent, min: 1, step: 1, value: 1 %>
    <% else%>
      <%= f.number_field :days_in_rent, min: 1, step: 1, value: @order.days_in_rent %>
    <% end%>

  </div>
  <div id="ord_type_div", class="field">
    <%= f.label :order_type %><br>
    <% Order.order_types.keys.each do |ord_t| %>
      <%= f.radio_button :order_type, ord_t %>
      <%= f.label ord_t.to_sym %>
    <% end %>
    <%#= f.select :order_type, Order.order_types.keys %>
    <!--# Choose search criteria (id or name pattern).-->
    </br>
    <label for="id"><input type="radio" name="s_crit" id="item_id" value="id"/>Id</label>
    <label for="name"><input type="radio" name="s_crit" id="item_name" checked="checked" value="name"/>Name</label>
  </div>

  <!--# Show already chosen parts-->
  <% if @already_ord_parts %>
    <div id="div_ordered_parts">
      <h2>Already ordered parts</h2>
      <% @already_ord_parts.each do |p_type, p_list| %>
        <h3><%= p_type %></h3>
        <ul>
          <% p_list.each do |p| %>
            <li><%= p %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>

  <input type="text" id="rb_search" placeholder="Type to search" autocomplete="off">

  <div id="div_cst_names"></div>
  <div id="div_cst_parts"></div>
  <div id="div_selected_parts"></div>

  <%= hidden_field_tag 'sel_parts' %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :client_name %><br>
    <%= f.text_field :client_name %>
  </div>
  <div class="field">
    <%= f.label :client_phone %><br>
    <%= f.text_field :client_phone %>
  </div>
  <div class="field">
    <%= f.label :tbd %><br>
    <%= f.text_field :tbd %>
  </div>
  <div class="actions">
    <%= f.submit disabled: true %>
  </div>
<% end %>

<%= javascript_tag do %>
  function setSearchUrl() {
    if (document.getElementById("order_order_type_costume").checked == true) {
      return "<%= costume_names_costumes_path %>";
    } else if (document.getElementById("order_order_type_part").checked == true) {
      return "<%= costume_names_costumes_path %>";
    }
  }

  function dataSearchByAttr(val) {
    if (document.getElementById("item_id").checked == true) {
      return { id_pattern: (val.length == 0) ? "" : val };
    } else if (document.getElementById("item_name").checked == true) {
      return { name_pattern: (val.length == 0) ? "" : val };
    }
  }
<% end %>


<%= javascript_tag do %>
  $(document).on("keyup", '#rb_search', function() {
    lockDateInstruments();

    $.ajax({
      url: setSearchUrl(),
      type: "GET",
      dataType: "json",
      data: dataSearchByAttr($(this).val()),
      complete: function() {},
      success: function(data, textStatus, xhr) {
        // Do something with the response here
        PrepareCostumesLi(data);
      },
      error: function() {
          alert("Ajax error!")
      }
    });
  });

  function PrepareCostumesLi(data) {
    var items = [];
    $.each(data.cst_names, function(index, value) {
      items.push("<li>" + value + "</li>");
    });
    $("#div_cst_names").html($("<ul/>", {html: items.join("")}));

    if (items.length == 0) {
      $("#div_cst_parts").html("");
      $("#div_selected_parts").html("");
      $("#sel_parts").attr("value", "");
    }
  }

  $(document).on("click", '#div_cst_names ul li', function() {
    $.ajax({
      url: "<%= costume_parts_costumes_path %>",
      type: "GET",
      dataType: "json",
      data: { costume_name: $(this).text(),
              rent_days: $("#order_days_in_rent").val(),
              ord_date: [$("#order_date_1i").val(),
                         $("#order_date_2i").val(),
                         $("#order_date_3i").val()]
            },
      complete: function() {},
      success: function(data, textStatus, xhr) {
        // Do something with the response here
        PrepareCostumeParts(data);
      },
      error: function() {
        alert("Ajax error!")
      }
    });
  });

  function PrepareCostumeParts(data) {
    var items = [];
    $.each(data.parts_for_costume, function(p_type, parts) {
      items.push("<h3>" + p_type + "</h3>");
      items.push("<ul>");
      $.each(parts, function(index, value) {
        items.push("<li>" + value + "</li>");
      });
      items.push("</ul>");
    });

    if (items.length == 0) {
      $("#div_cst_parts").html("No free parts for rent!!!");
    } else {
      $("#div_cst_parts").html(items.join(""));
    }
  }

<% end %>


<%= javascript_tag do %>
  $(document).on("click", '#div_cst_parts ul li', function() {
    var selectedParts = []
    $(this).toggleClass('selected');
    $("#div_cst_parts ul li.selected").each(function(index, li) {
      selectedParts.push($(li).text());
    });
    $("#div_selected_parts").html(selectedParts.join(" ")).trigger("contentchange");
    $("#sel_parts").attr("value", JSON.stringify(selectedParts));
  });
<% end %>


<%= javascript_tag do %>
  $("#div_selected_parts").bind("contentchange", function() {
    var empty = false;
    if ($("#div_selected_parts").text().length == 0) {
      empty = true;
    }

    if (empty) {
      $('.actions input').attr('disabled', 'disabled');
    } else {
      $('.actions input').removeAttr('disabled');
    }
  });
<% end %>

<%= javascript_tag do %>
  function lockDateInstruments() {
    var lock = false;
    if ($("#rb_search").val().length != 0) {
      lock = true;
    }

    if (lock) {
      $("#order_days_in_rent").attr('disabled', 'disabled');
      $("#order_date_1i").attr('disabled', 'disabled');
      $("#order_date_2i").attr('disabled', 'disabled');
      $("#order_date_3i").attr('disabled', 'disabled');
    } else {
      $("#order_days_in_rent").removeAttr('disabled');
      $("#order_date_1i").removeAttr('disabled');
      $("#order_date_2i").removeAttr('disabled');
      $("#order_date_3i").removeAttr('disabled');
    }
  }
<% end %>
