<h1>Listing Clients Orders</h1>

<input type="text" id="search" placeholder="Type to search">
<table id="table">
  <tr>
    <th>Id</th>
    <th>Date</th>
    <th>Days in rent</th>
    <th>Return Date</th>
    <th>Order type</th>
    <th>Order Name</th>
    <th>Order parts</th>
    <th>Client name</th>
    <th>Client phone</th>
    <th>TBD</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @orders.each do |ord| %>
    <tr>
      <td><%= ord.id %></td>
      <td><%= ord.date %></td>
      <td><%= ord.days_in_rent %></td>
      <td><%= ord.return_date %></td>
      <td><%= ord.order_type %></td>
      <td><%= ord.name %></td>
      <td><%= ord.ordered_parts.map {|p| p.ordered_part_id.to_s + ' ' + Part.find(p.ordered_part_id).name + ' ' + Part.find(p.ordered_part_id).description} %></td>
      <td><%= ord.client_name %></td>
      <td><%= ord.client_phone %></td>
      <td><%= ord.tbd %></td>
      <td><%= link_to 'Show', ord %></td>
      <td><%= link_to 'Edit', edit_order_path(ord) %></td>
      <td><%= link_to 'Destroy', ord, method: :delete, data: { confirm: 'Are you sure?' } %></td>

    </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Order', new_order_path %>


<%= javascript_tag do %>
  var $rows = $('#table tr');
  $('#search').keyup(function() {
  var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

  $rows.show().filter(function() {
  var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
  return !~text.indexOf(val);
  }).hide();
  });
<% end%>