<div class="container">

  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Дата видачі</th>
        <th>Днів в прокаті</th>
        <th>Дата повернення</th>
        <th>Назва замовлення</th>
        <th>Обрані частини</th>
        <th>Клієнт</th>
        <th>Телефон</th>
        <th>Доробити</th>
        <th>Бронь</th>
        <th>Завдаток</th>
        <th>Вартість прокату</th>
        <th>Решта</th>
      </tr>
    </thead>

    <tbody>
    <% @orders.order('id DESC').each do |ord| %>
      <tr data-url="<%=edit_order_path(ord)%>">
        <td><%= ord.id %></td>
        <td><%= ord.date %></td>
        <td><%= ord.days_in_rent %></td>
        <td><%= ord.return_date %></td>
        <td><%= ord.name %></td>
        <td>
          <% ord.ordered_parts.each do |p| %>
            <li><b><%= p.ordered_part_id.to_s %></b> <%= Part.find(p.ordered_part_id).name + ' ' + Part.find(p.ordered_part_id).description %></li>
          <% end %>
        </td>
        <td><%= ord.client_name %></td>
        <td><%= ord.client_phone %></td>
        <td><%= ord.tbd %></td>
        <td><%= ord.reservation_fee %></td>
        <td><%= ord.deposit_fee %></td>
        <td><%= ord.rent_fee %></td>
        <td><%= ord.reservation_fee + ord.deposit_fee - ord.rent_fee %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

</div>
