<div class="container">

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Ід</th>
        <th>Дата видачі</th>
        <th>Днів в прокаті</th>
        <th>Дата повернення</th>
        <th>Назва замовлення</th>
        <th>Обрані частини</th>
        <th>Клієнт</th>
        <th>Телефон</th>
        <th>Доробити</th>
      </tr>
    </thead>

    <tbody>
    <% @orders.each do |ord| %>
      <tr>
        <td><%= ord.id %></td>
        <td><%= ord.date %></td>
        <td><%= ord.days_in_rent %></td>
        <td><%= ord.return_date %></td>
        <td><%= ord.name %></td>
        <td><%= ord.ordered_parts.map {|p| p.ordered_part_id.to_s + ' ' + Part.find(p.ordered_part_id).name + ' ' + Part.find(p.ordered_part_id).description} %></td>
        <td><%= ord.client_name %></td>
        <td><%= ord.client_phone %></td>
        <td><%= ord.tbd %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

<br />

</div>
