<h1>Listing orders</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Date</th>
    <th>Order type</th>
    <th>Name</th>
    <th>Client</th>
  </tr>

  <% @orders.each do |ord| %>
    <tr>
      <td><%= ord.id %></td>
      <td><%= ord.date %></td>
      <td><%= ord.order_type %></td>
      <td><%= ord.name %></td>
      <td><%= ord.client.name %></td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'Home', '/' %>