<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @order.id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @order.date %>
</p>

<p>
  <strong>Days in rent:</strong>
  <%= @order.days_in_rent %>
</p>

<p>
  <strong>Return date:</strong>
  <%= @order.return_date %>
</p>

<p>
  <strong>Order type:</strong>
  <%= @order.order_type %>
</p>

<p>
  <strong>Order Name:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Order Parts:</strong>
  <%= @order.ordered_parts.map {|p| p.ordered_part_id.to_s + ' ' + Part.find(p.ordered_part_id).name + ' ' + Part.find(p.ordered_part_id).description} %>
</p>

<p>
  <strong>Client name:</strong>
  <%= @order.client_name %>
</p>

<p>
  <strong>Client phone:</strong>
  <%= @order.client_phone %>
</p>

<p>
  <strong>TBD:</strong>
  <%= @order.tbd %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %>
<%= link_to 'Home', root_url %>