<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="panel panel-order-show panel-success centering">

    <div class="panel-heading">Замовлення # <strong><%= @order.id %></strong></div>

    <div class="panel-body">

      <table class="table table-striped">
        <tr>
          <th>Дата видачі:</th>
          <td><%= @order.date %></td>
        </tr>

        <tr>
          <th>К-ть днів:</th>
          <td><%=@order.days_in_rent%></td>
        </tr>

        <tr>
          <th>Дата повернення:</th>
          <td><%=@order.return_date%></td>
        </tr>

        <tr>
          <th>Назва замовлення:</th>
          <td><%=@order.name%></td>
        </tr>

        <tr>
          <th>Замовлені частини:</th>
          <td>
            <% @order.ordered_parts.each do |p| %>
              <li><b><%= p.ordered_part_id.to_s %></b> <%= Part.find(p.ordered_part_id).name + ' ' + Part.find(p.ordered_part_id).description %></li>
            <% end %>
          </td>
        </tr>

        <tr>
          <th>Клієнт:</th>
          <td><%=@order.client_name%></td>
        </tr>

        <tr>
          <th>Телефон:</th>
          <td><%= @order.client_phone %></td>
        </tr>

        <tr>
          <th>Доробити:</th>
          <td><%= @order.tbd %></td>
        </tr>

        <tr>
          <th>Бронь:</th>
          <td><%= @order.reservation_fee %></td>
        </tr>

        <tr>
          <th>Завдаток:</th>
          <td><%= @order.deposit_fee %></td>
        </tr>

        <tr>
          <th>Вартість прокату:</th>
          <td><%= @order.rent_fee %></td>
        </tr>

      </table>
    </div>

    <div class="panel-footer text-center">
      <%= link_to 'Редагувати', edit_order_url, { :class => "btn btn-warning malvina-action-button" } %>
      <%= link_to 'Видалити', @order, method: :delete, data: { confirm: 'Ви впевненні що хочете знищити це замовлення?'}, :class => "btn btn-danger malvina-action-button" %>
    </div>

  </div>

</div>
