<p id="notice"><%= notice %></p>

<p>
  <strong>Ід:</strong>
  <%= @order.id %>
</p>

<p>
  <strong>Дата:</strong>
  <%= @order.date %>
</p>

<p>
  <strong>К-ть днів:</strong>
  <%= @order.days_in_rent %>
</p>

<p>
  <strong>Дата повернення:</strong>
  <%= @order.return_date %>
</p>

<p>
  <strong>Назва замовлення:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Замовлені частини:</strong>
  <%= @order.ordered_parts.map {|p| p.ordered_part_id.to_s + ' ' + Part.find(p.ordered_part_id).name + ' ' + Part.find(p.ordered_part_id).description} %>
</p>

<p>
  <strong>Клієнт:</strong>
  <%= @order.client_name %>
</p>

<p>
  <strong>Телефон:</strong>
  <%= @order.client_phone %>
</p>

<p>
  <strong>Доробити:</strong>
  <%= @order.tbd %>
</p>

<%= link_to 'Відміна', orders_url, { :class => "btn btn-warning" } %>
