<h1>Типи частин</h1>

<table>
  <tr>
    <th>Ід</th>
    <th>Тип</th>
    <th></th>
    <th></th>
  </tr>

  <% @part_types.each do |pt| %>
      <tr>
        <td><%= pt.id %></td>
        <td><%= pt.type_name %></td>
        <td><%= link_to 'Показати', pt %></td>
        <td><%= link_to 'Редагувати', edit_part_type_path(pt) %></td>

      </tr>
  <% end %>
</table>

<br />

<%= link_to 'Новий тип', new_part_type_path %> |
<%= link_to 'Частини', parts_path %> |
<%= link_to 'Календар', root_url %>
