<p id="notice"><%= notice %></p>

<p>
  <strong>Ід:</strong>
  <%= @part_type.id %>
</p>

<p>
  <strong>Тип:</strong>
  <%= @part_type.type_name %>
</p>

<%= link_to 'Редагувати', edit_part_type_path(@part_type) %> |
<%= link_to 'Назад', part_types_path %> |
<%= link_to 'Календар', root_url %>
